In [26]:
import numpy as np
import pandas as pd
#%matplotlib notebook
%matplotlib inline

import the dataset into a dataframe

In [65]:
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_columns',None)
df = pd.read_csv('Salaries.csv',index_col = 'Id')
print(df.head())

         EmployeeName                                        JobTitle  \
Id
1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

      BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
Id
1   167411.18         0.00  400184.25       NaN  567595.43         567595.43
2   155966.02    245131.88  137811.38       NaN  538909.28         538909.28
3   212739.13    106088.18   16452.60       NaN  335279.91         335279.91
4    77916.00     56120.71  198306.90       NaN  332343.61         332343.61
5   134401.60      9737.00  182234.59       NaN  326373.19         326373.19

    Year  Notes         Agency  Status
Id
1   2011    NaN  San Francisco     NaN
2   2011    NaN  San Francisco     NaN
3   2011    NaN  San Francisco     NaN
4   2011    NaN  San Francisco     NaN
5   2011    NaN  San Francisco     NaN

display the column names

In [66]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

display the number of rows and cols

In [67]:
df.shape

(148654, 12)

display the dataframe info (types of data in columns and not null values etc.)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 14.7+ MB

display stats of the dataframe like count, mean, std, max, 25% etc.....

In [69]:
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

display null values per column

In [70]:
df_1 = df.isnull().sum()
df_1

EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

remove columns will all values as NaN

In [73]:
null_val_col = df_1[df_1==df.shape[0]].keys()
null_val_col
df = df.drop(columns = null_val_col,axis=1)

display number of unique values in each column

In [84]:
for col in df.columns:
    print(col,df[col].nunique())

EmployeeName 110811
JobTitle 2159
BasePay 109489
OvertimePay 65998
OtherPay 83225
Benefits 98465
TotalPay 138486
TotalPayBenefits 142098
Year 4
Agency 1

mean of total pay of all people based on year

In [86]:
df.groupby('Year')['TotalPay'].mean()

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

how many people have 0 overtime pay

In [93]:
len(df[df['OvertimePay']==0]['OvertimePay'])

77321

max, min, mean, median and other stats of TotalPay of people having 0 OvertimePay

In [95]:
df[df['OvertimePay']==0]['TotalPay'].describe()

count     77321.000000
mean      60229.348901
std       49307.912350
min        -618.130000
25%       13290.450000
50%       58158.590000
75%       91115.090000
max      567595.430000
Name: TotalPay, dtype: float64

find Id of that person with max TotalPay you got in previous question

In [96]:
df[df['TotalPay']==567595.430000].index

Int64Index([1], dtype='int64', name='Id')

name of employee with total pay benefits = 87619.78

In [100]:
len(df[df['TotalPayBenefits']==87619.78])

1

how many people have BasePay > 150000 and OvertimePay > 100000

In [103]:
len(df[(df['BasePay']>150000) & (df['OvertimePay']>100000)])

12

which job title generally has highest average TotalPayBenefits

In [109]:
df[df['TotalPay']==max(df['TotalPay'])]['JobTitle']

Id
1    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

How many employees are POLICE

In [116]:
# .str.contains()
len(df[df['JobTitle'].str.contains('POLICE')])

2512